* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #00bcd4, #ffeb3b);
}

.conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.conteiner .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: .5s;
}

.conteiner .card:hover {
    height: 400px;
}

.conteiner .card .imgBx {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: .5s;
}

.conteiner .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.conteiner .card:hover .imgBx {
    top: -100px;
    transform: scale(.75);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.conteiner .card .content {
    position: absolute;
    top: 300px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: .5s;
}

.conteiner .card:hover .content {
    top: 130px;
    height: 250px;
}

.conteiner .card .content h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}

.conteiner .card .content p {
    color: #333;
}

.conteiner .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}